/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  background: #CCC6DD;
}

* {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}
.header a{
  color: #39296B;
}
.boxed a {
  color: #7C2657;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

.boxed {
  margin-top: 2px;
  border: 1px solid #7C2657;
  text-align: center;
  background-color: #BB749C;
  padding-top: 0px;
  padding-bottom: 0px;
  border-radius: 5px;
  padding: 10px;
  background-color: #BB749C;
  color: black;
  cursor: pointer;
  
}

.border{
  padding: 20px;
}
.minibox {
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
  background-color: #776AA0;
  box-shadow: 5px 5px 5px;
  border-radius: 5px;
  display: inline-block;
}
.container {
  padding: 30px;
}
h1 {
  font: helvetica;
  text-align: center;
  color: #39296B;
}
.header {
  background-color: #AB90BA;
  padding-top: 10px;
  padding-bottom: 0px;
  border: 1px solid #4F2468;
  margin: 0px;
  border-radius: 5px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
.bottons {
  margin: 0px;
  padding: 0px 0px 3px 5px;
  display: inline-block;
  position: relative;
  bottom: 0px;
}


}
#content1 {
  padding: 0 18px;
  overflow: hidden;
  background-color: #EACEDE;
}
